---
import { socialLinks } from '../consts'
import { Image } from 'astro:assets'
import Page from '../layouts/Page.astro'
import { Icon } from 'astro-icon/components'
import avatarImage from '../assets/images/avatar.jpg'
---

<Page>
  <section class="flex flex-col items-center">
    <div class="rounded-full overflow-hidden w-48 h-48">
      <Image src={avatarImage} alt="Profile picture of Jason Kuhrt" width={192} height={192} />
    </div>

    <h1 class="mt-5">Jason Kuhrt</h1>
    <div class="flex mt-3 space-x-5 text-xl">
      {
        socialLinks.map((socialLink) => (
          <a
            rel="me"
            href={socialLink.href}
            title={socialLink.title}
            class="opacity-30 hover:opacity-90"
            target="_blank"
          >
            <Icon name={`${socialLink.iconSet}:${socialLink.icon}`} class="text-2xl" />
          </a>
        ))
      }
    </div>
  </section>
</Page>
